RewriteEngine On 
RewriteCond %{HTTP_HOST} ^datapola\.com [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://supercrokantes.tk/$1 [R,L]

RewriteCond %{HTTP_HOST} ^www.supercrokantes\.tk [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://supercrokantes.tk/$1 [R,L]
