@charset "utf-8";
@import url("reset.css");
/* CSS Document */
@font-face {
    font-family: 'prelow01-mediumregular';
    src: url('../fonts/prelo_w01_medium-webfont.eot');
    src: url('../fonts/prelo_w01_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prelo_w01_medium-webfont.woff2') format('woff2'),
         url('../fonts/prelo_w01_medium-webfont.woff') format('woff'),
         url('../fonts/prelo_w01_medium-webfont.svg#prelow01-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'prelow01-mediumitalicregular';
    src: url('../fonts/prelo_w01_medium_italic-webfont.eot');
    src: url('../fonts/prelo_w01_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prelo_w01_medium_italic-webfont.woff2') format('woff2'),
         url('../fonts/prelo_w01_medium_italic-webfont.woff') format('woff'),
         url('../fonts/prelo_w01_medium_italic-webfont.svg#prelow01-mediumitalicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff;
}
body 
{
  font-family: 'prelow01-mediumitalicregular', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  max-width: 1920px;
  display: block;
  margin:0 auto;
  position: relative;
  left: 0;
  right: 0;
  height: auto;
  transition:all .2s ease-out;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#controls {
    z-index: 10;
  padding: 20px;
  width: 891px;
  height: 99px;
  vertical-align: top;
  background: rgba(0,0,0,0.8);
  border: solid 7px white;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  margin-top: -11px;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
}

.controls{
  height: 1000px;
  font-size: 12px;
  width: 100%;
}

#options_video {
  z-index: 10;
  width: 40%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  border-right: solid 1px white;
}

#options_fabric p{
  width: 87%;
  height: auto;
  display: inline-table;
  border: solid 1px gray;
  padding: 11px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  margin: 8px;
}

#options_fabric {
  overflow-y: auto;
  z-index: 10;
  padding: 20px;
  width: 40%;
  display: inline-block;
}
#options_fabric #wrapper{
  overflow-y: auto;
  height: 291px;
  overflow-x: hidden;
  margin-top: 10px;
}




}
#wrapper{
  width: 220px;
  height: 250px;
  overflow-x: scroll;
}


.booth{
  display: inline-block;
  width: 740px;
  height: 500px;
  border-radius: 10px;
  border: solid 10px #ff8d00;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
}


#objetos{
  height: 482px;
  overflow: auto;
  width: 151px;
  display: inline-block;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.4);
}
#objetos h2{
  width: 100%;
  height: 41px;
  line-height: 41px;
  font-size: 16px;
  background-color: rgba(0,0,0,0.6);
}

}
.lista{
  list-style: none;

}
.lista button{
  background: transparent;
  border: none;
  border-bottom: solid 1px gray;
}

.wrapper{

}
.wrapper_container{
  width: 900px;
}

/*Botonera*/
.botonera{

}
.grabar{
  width: 60px;
  height: 60px;
  background-color: red;
  border: solid 5px white;
  border-radius: 30px;
  font-size: 13px;
  color: white;
  font-weight: 700;
  font-family: sans-serif;

}
.parar{
  width: 60px;
  height: 60px;
  background-color: red;
  border: solid 5px white;
  border-radius: 10px;
  font-size: 13px;
  color: white;
  font-weight: 700;
  font-family: sans-serif;

}
.filtros{
  font-size: 16px;
  color: white;
  border: solid 2px white;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  margin-top: -62px;
  margin-left: 167px;
  background-color: black;
  font-family: sans-serif;
}
.borrar{
  position: absolute;
  margin-left: 282px;
  margin-top: -4px;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
  background-color: dimgray;
  width: 100px;
  border: solid 1px;
  border-radius: 5px;
}
.filtros_menu{
  width: 870px;
  overflow: hidden;
  height: 350px;
  background: rgba(0,0,0,0.8);
  border-radius: 0 0 10px 10px;
}

/* Iconos */
.iconos{

}

header
{
  max-width: 1920px;
  width: 100%;
  height: 240px;
  display: block;
  background: url(../img/header.png) no-repeat center top;
  margin-bottom: -14px;
  z-index: 2;
  position: relative;
}
header nav
{
  max-width: 1280px;
  width: 100%;
  height: 240px;
  display: block;
  margin: 0 auto;
}
header nav .social
{
  float: right;
  width: 64px;
  height: 31px;
  margin: 92px 0 0 0;
}
header nav .social .youtube_header
{
  width: 26px;
  height: 31px;
  float: left;
  background: url(../img/social.png) no-repeat;
}
header nav .social .facebook_header
{
  width: 27px;
  height: 31px;
  float: right;
  background: url(../img/social.png) no-repeat;
  background-position: -37px 0px;
}
header nav ul
{
  max-width: 854px;
  width: 100%;
  height: 87px;
  line-height: 87px;
  display: block;
  margin: 0px auto 0;
  text-align: center;
  padding: 140px 0;
}
header nav ul li
{
  display: block;
  margin: 0 0px;
}
header nav ul li:nth-child(1)
{
  float: left;
}
header nav ul li:nth-child(2)
{
  float: left;
  margin-left: 50px;
}
header nav ul li:nth-child(3)
{
  float: left;
  margin: -135px 0px 0;
}
header nav ul li:nth-child(4)
{
  float: left;
  margin-left: 50px;
}
header nav ul li:nth-child(5)
{
  float: left;
  margin-left: 50px;
}
header nav ul li a
{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
footer
{
  max-width: 1920px;
  width: 100%;
  padding-top: 80px;
  height: 310px;
  display: block;
  text-align: center;
  background: #1c2b33;
  position: relative;
  clear: both;
  font-family: 'prelow01-mediumregular';
}
footer .terminos_y_condiciones
{
  display: inline-block;
  width: 225px;
  vertical-align: top;
}
footer .terminos_y_condiciones:nth-child(2)
{
  margin: 0 50px;
}
footer .terminos_y_condiciones span
{
  display: block;
  width: 100%;
  font-size: 16px;
  padding-bottom: 20px;
  background: url(../img/decor_footer.png) no-repeat bottom center;
}
footer .terminos_y_condiciones a
{
  color: #eb8a2a;
  text-decoration: none;
  width: 100%;
  display: block;
  font-size: 16px;
  background: url(../img/decor_link_footer.png) no-repeat bottom left;
  margin: 30px 0 0 10px;
}
footer .terminos_y_condiciones a span
{
  color: #fff;
  width: auto;
  padding: 0;
  display: inline-block;
  background: none;
}
footer .derechos_copy
{
  font-family: 'prelow01-mediumitalicregular';
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 40px;
  background: #e0020a;
  border-bottom: 1px solid #217c79;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}
footer .terminos_y_condiciones:nth-child(2) span
{
  text-align: left;
  text-indent: 30px;
}
footer .terminos_y_condiciones a.facebook_footer
{
  width: 48px;
  height: 48px;
  float: left;
  background: url(../img/social_footer.png) no-repeat bottom left;
}
footer .terminos_y_condiciones a.youtube_footer
{
  width: 48px;
  height: 48px;
  float: left;
  margin: 30px 0 0 30px;
  background: url(../img/social_footer.png) no-repeat bottom right;
}
footer .terminos_y_condiciones a.logo_footer
{
  background: none;
  margin: -20px 0;
}



/*widget*/
.widget
{
  max-width: 1920px;
  width: 100%;
  height: 1240px;
  display: block;
  background: url(../img/bg_widget.png) no-repeat center;
  background-size: cover;
  z-index: 0;
  position: relative;
  padding: 100px 0 0;
}

#options_video button
{
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid gray;
  font-size: 12px;
  background: transparent;
  color: white;
  width: 70px;
}






