@charset "utf-8";
@import url("reset.css");
/* CSS Document */
@font-face {
    font-family: 'prelow01-mediumregular';
    src: url('../fonts/prelo_w01_medium-webfont.eot');
    src: url('../fonts/prelo_w01_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prelo_w01_medium-webfont.woff2') format('woff2'),
         url('../fonts/prelo_w01_medium-webfont.woff') format('woff'),
         url('../fonts/prelo_w01_medium-webfont.svg#prelow01-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'prelow01-mediumitalicregular';
    src: url('../fonts/prelo_w01_medium_italic-webfont.eot');
    src: url('../fonts/prelo_w01_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prelo_w01_medium_italic-webfont.woff2') format('woff2'),
         url('../fonts/prelo_w01_medium_italic-webfont.woff') format('woff'),
         url('../fonts/prelo_w01_medium_italic-webfont.svg#prelow01-mediumitalicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff;
}
body
{
  font-family: 'prelow01-mediumitalicregular', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  max-width: 1920px;
  display: block;
  margin:0 auto;
  position: relative;
  left: 0;
  right: 0;
  height: auto;
  transition:all .2s ease-out;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.banner
{
  display: block;
  clear: both;
  margin: 0 auto;
  max-width: 700px;
}
video.videos_galeria
{
  width: 100%;
  height: 100%;
}
.menu_icon
{
  width: 100%;
  height: 40px;
  left:0;
  position: relative;
  top: 0;
  background: #1e8f88;
  display: none;
  padding: 5px 0;
}
.menu_icon a.menu
{
  width: 30px;
  height: 30px;
  position: relative;
  left: 10px;
  border;1px
  solid red;
  float: left;
  left: 5%;
  background: transparent url(../assets/mainMenuMobile.png) no-repeat center;
  background-size: contain;
}
.menu_icon a.menu.active
{
  background: transparent url(../assets/closeMobileMenu.png) no-repeat center;
  background-size: contain;
}
 #menu_p
{
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  right:0;
  opacity: 0;
  margin: -100% 0 0 0;
  z-index: -100;
  position: absolute;
}
#menu_p ul
{
  height: 200px;
  background: #1e8f88;
}
#menu_p ul li
{
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #fff;
}
#menu_p ul li:nth-child(1)
{
  background: #1e8f88;
}
#menu_p ul li:nth-child(2)
{
  background: #8aa830;
}
#menu_p ul li:nth-child(3)
{
  background: #e41915;
}
#menu_p ul li:nth-child(4)
{
  background: #f29425;
}
#menu_p ul li a
{
  align-self: center;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}



/* leo */

#controls {
  z-index: 10;
  padding: 20px;
  width: 891px;
  height: 99px;
  vertical-align: top;
  background: rgba(0,0,0,0.8);
  border: solid 7px white;
  border-top: none;
  border-radius: 0px 0px 10px 10px;
  margin-top: -11px;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
}

.controls{
  height: 1000px;
  font-size: 12px;
  width: 100%;
}

#options_video {
  z-index: 10;
  display: inline-block;
  vertical-align: top;
}
#super_video{
  position: absolute;
  width: 720px;
  height: 60px;
  margin-left: -360px;
}
#video_prev{
  width: 660px;
  height: 440px;
}
#video_def{
  width: 100%;
  height: 100%;
}

#options_fabric p{
  width: 87%;
  height: auto;
  display: inline-table;
  border: solid 1px gray;
  padding: 11px;
  border-radius: 10px;
  margin-top: 10px;
  color: white;
  margin: 8px;
}

#options_fabric {
  overflow-y: auto;
  z-index: 10;
  padding: 20px;
  width: 40%;
  display: inline-block;
}
#options_fabric #wrapper{
  overflow-y: auto;
  height: 291px;
  overflow-x: hidden;
  margin-top: 10px;
}




}
#wrapper{
  width: 220px;
  height: 250px;
  overflow-x: scroll;
}

.booth{
  display: inline-block;
  width: 740px;
  height: 485px;
  border-radius: 10px;
  border: solid 10px #ff8d00;
  -webkit-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.75);
}

#objetos{
  height: 457px;
  overflow: auto;
  width: 152px;
  display: inline-block;
  margin-bottom: 8px;
  border-right: solid 2px #FF5722;
  border-radius: 0px 11px 0px 0;
  background-color: rgba(255,255,255,0.4);
  overflow: hidden;
}

#objetos h2{
  width: 100%;
  height: 41px;
  line-height: 41px;
  font-size: 16px;
  background-color: rgba(0,0,0,0.6);
}

}
.lista{
  list-style: none;

}
.lista button{
  border-bottom: solid 4px #FF5722;
  height: 104px;
}

.wrapper{

}
.wrapper_container{
  width: 900px;
}

/*Botonera*/
.botonera{

}
.grabar{
  width: 60px;
  height: 60px;
  background-color: red;
  border: solid 5px white;
  border-radius: 30px;
  font-size: 13px;
  color: white;
  font-weight: 700;
  font-family: sans-serif;

}
.parar{
  width: 60px;
  height: 60px;
  background-color: red;
  border: solid 5px white;
  border-radius: 10px;
  font-size: 13px;
  color: white;
  font-weight: 700;
  font-family: sans-serif;

}
.filtros{
  font-size: 16px;
  color: white;
  border: solid 2px white;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  margin-top: -62px;
  margin-left: 167px;
  background-color: black;
  font-family: sans-serif;
}
.borrar{
  position: absolute;
  margin-left: 282px;
  margin-top: -4px;
  color: white;
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
  background-color: dimgray;
  width: 100px;
  border: solid 1px;
  border-radius: 5px;
}
.filtros_menu{
  width: 85px;
  padding-top: 10px;
  height: 328px;
  border-radius: 10px;
  position: absolute;
  margin-left: 614px;
  margin-top: -537px;
}
#options_video button {
  padding: 4px;
  border-radius: 5px;
  margin: 1px;
  border: 1px solid #ff8400;
  font-size: 12px;
  background: rgba(240,95,0,0.5);
  color: white;
  width: 81px;
}
.crono{
  position: absolute;
  margin-left: 470px;
  margin-top: 22px;
  font-family: sans-serif;
  font-size: 20px;
}


/* leo*/




header
{
  max-width: 1920px;
  width: 100%;
  height: 215px;
  display: block;
  background: url(../assets/header.png) no-repeat center top;
  background-size: 100% 160px;
  margin-bottom: -14px;
  z-index: 2;
  position: relative;
}
header nav
{
  max-width: 1280px;
  width: 100%;
  height: 205px;
  display: block;
  margin: 0 auto;
}
header nav .social
{
  float: right;
  width: 64px;
  height: 31px;
  margin: 57px 1% 0 0;
}
header nav .social .youtube_header
{
  width: 26px;
  height: 31px;
  float: left;
  background: url(../assets/social.png) no-repeat;
}
header nav .social .facebook_header
{
  width: 27px;
  height: 31px;
  float: right;
  background: url(../assets/social.png) no-repeat;
  background-position: -37px 0px;
}
header nav ul
{
  max-width: 795px;
  width: 100%;
  height: 76px;
  line-height: 87px;
  display: block;
  margin: 0 auto 0;
  padding: 79px 0;
  text-align: center;
}
header nav ul li
{
  display: block;
  margin: 0 0px;
}
header nav ul li:nth-child(1)
{
  float: left;
}
header nav ul li:nth-child(2)
{
  float: left;
  margin-left: 8%;
  margin-right: 4%;
}
header nav ul li:nth-child(3)
{
  float: left;
  margin: -75px 0px 0;
}
header nav ul li:nth-child(4)
{
  float: left;
  margin-left: 8%;
}
header nav ul li:nth-child(5)
{
  float: left;
  margin-left: 8%;
}
header nav ul li a
{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-shadow: -2px 1px 4px rgb(76, 76, 76);
}
header nav ul li a img
{
  width: 225px;
}
.loader
{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 10000;
}
.loader .loader_center
{
    width: 208px;
    height: 208px;
    position: absolute;
    top: calc(50% - 104px);
    left: 0;
    right: 0;
    margin: 0 auto;
    background: url(../img/loader.gif);
}
footer
{
  max-width: 1920px;
  width: 100%;
  padding-top: 60px;
  height: 240px;
  display: block;
  text-align: center;
  background: #1c2b33;
  position: relative;
  clear: both;
  font-family: 'prelow01-mediumregular';
}
footer .terminos_y_condiciones
{
  display: inline-block;
  width: 225px;
  vertical-align: top;
}
footer .terminos_y_condiciones:nth-child(2)
{
  margin: 0 40px;
}
footer .terminos_y_condiciones span
{
  display: block;
  width: 100%;
  font-size: 14px;
  padding-bottom: 20px;
  background: url(../assets/decor_footer.png) no-repeat bottom center;
}
footer .terminos_y_condiciones a
{
  color: #eb8a2a;
  text-decoration: none;
  width: 100%;
  display: block;
  font-size: 14px;
  background: url(../assets/decor_link_footer.png) no-repeat bottom left;
  margin: 20px 0 0 10px;
}
footer .terminos_y_condiciones a span
{
  color: #fff;
  width: auto;
  padding: 0;
  display: inline-block;
  background: none;
}
footer .derechos_copy
{
  font-family: 'prelow01-mediumitalicregular';
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 30px;
  background: #e0020a;
  border-bottom: 1px solid #217c79;
  line-height: 30px;
  color: #fff;
  font-size: 13px;
}
footer .terminos_y_condiciones:nth-child(2) span
{
  text-align: left;
  text-indent: 30px;
}
footer .terminos_y_condiciones a.facebook_footer
{
  width: 40px;
  height: 40px;
  float: left;
  background: url(../assets/social_footer.png) no-repeat bottom left;
  background-size: cover;
}
footer .terminos_y_condiciones a.youtube_footer
{
  width: 40px;
  height: 40px;
  float: left;
  margin: 20px 0 0 30px;
  background: url(../assets/social_footer.png) no-repeat bottom right;
  background-size: cover;
}
footer .terminos_y_condiciones a.logo_footer
{
  background: none;
  margin: -20px 0;
  width: 150px;
}
footer .terminos_y_condiciones a.logo_footer img
{
  width: 100%;
}



/*widget*/
.widget
{
  overflow: overlay;
  max-width: 1920px;
  width: 100%;
  height: auto;
  display: block;
  z-index: 0;
  position: relative;
  top: -125px;
  margin-bottom: -125px;
}
.widget .content_widget
{
  max-width: 1920px;
  height: auto;
  width: 100%;
  display: block;
  background: url(../assets/bg_widget.jpg) no-repeat center;
  background-size: cover;
  z-index: 0;
  position: relative;
  padding: 120px 0 0;
}
.widget .content_videos
{
  max-width: 1920px;
  width: 100%;
  height: auto;
  display: block;
  background: url(../assets/bg_videos.jpg) no-repeat center center;
  background-size: cover;
  z-index: 0;
  position: relative;
}
.widget .content_videos .header_videos
{
  width: 100%;
  height: 102px;
  background: url(../assets/repeat_header_videos.jpg) repeat-x;
}
.widget .content_videos .busqueda_galeria_botones
{
  max-width: 1186px;
  width: 100%;
  background: url(../assets/bg_botones_video.png) no-repeat center top;
  background-size: 900px;
  display: block;
  margin: -106px auto 0;
  position: relative;
  height: 169px;
}
.widget .content_videos .box_content_videos
{
  max-width: 1140px;
  width: 100%;
  height: auto;
  display: block;
  margin: 10px auto 0;
  z-index: 0;
  position: relative;
  text-align: center;
  padding: 0 0 100px;
}
.widget .content_videos .box_content_videos .videos
{
  border: 1px solid #fff;
  width: 260px;
  height: 250px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.37);
  padding: 10px 5px;
  margin: 40px 10px;
  position: relative;
}
.widget .content_videos .box_content_videos .box_estrellas
{
  width: 100%;
  height: 32px;
  float: left;
  margin-bottom: 5px;
  text-align: left;
  line-height: 30px;
  vertical-align: top;
}
.widget .content_videos .box_content_videos .box_estrellas img
{
  float: left;
  background-color: #ff3e3e;
  border-radius: 10px;
}
.widget .content_videos .box_content_videos .box_estrellas .estrella
{
  background: url(../assets/star.png);
  background-size: contain;
  width: 25px;
  height: 25px;
  float: left;
  margin: 0 5px 0 0;
  margin-bottom: 12px;
}
.widget .content_videos .box_content_videos .box_estrellas .estrella.activate
{
  background: url(../assets/star_activate.png);
  background-size: contain;
}
.widget .content_videos .box_content_videos .box_video
{
  width: 100%;
  height: auto;
  display: block;
  float: left;
  background: #eeeeee url(../assets/play_button.png) no-repeat center;
  overflow: hidden;
}
.widget .content_videos .box_content_videos .nombre_video
{
  text-align: left;
  margin: 20px 0 10px;
  text-transform: uppercase;
  width: 100%;
  font-size: 16px;
  color: #fff;
  display: block;
  float: left;
}
.widget .content_videos .box_content_videos .titulo_video
{
  text-align: left;
  margin: 0px 0 10px;
  text-transform: uppercase;
  width: 100%;
  font-size: 12px;
  color: #fff;
  display: block;
  float: left;
}
.widget .content_videos .box_content_videos .shadow_video
{
  width: 100%;
  height: 65px;
  display: block;
  position: absolute;
  bottom: -78px;
  background: transparent url(../assets/shadow_video.png) no-repeat center;
  background-size: contain;
}

.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #667d23;
    width: 200px;
    height: 30px;
    border-radius: 6px;
    line-height: 30px;
    overflow: hidden;
    background-color: #fff;
    background: #7b962a url(../assets/select.png) no-repeat 90% 50%;
    background-size: 7px;
    display: inline-block;
}
.select-style.select_2
{
  margin: 0 2%;
}
.instrucciones_widget
{
  width: 308px;
  height: 309px;
  display: block;
  left: -4%;
  margin: 0 auto;
  background: url(../assets/instrucciones_widget.png) no-repeat center;
  position: relative;
  background-size: contain;
}
form.videos_form
{
  width: 640px;
  margin: 0 auto;
  display: block;
  padding: 70px 0 0;
  position: relative;
  z-index: 100;
  text-align: center;
}


.select-style select {
    padding: 7px 15px;
    width: 100%;
    font-size: 12px;
    border: none;
    font-weight: 800;
    color: #fff;
    font-family: 'prelow01-mediumregular';
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}
button.buscar
{
  padding: 0;
  margin: 0;
  width: 131px;
  height: 31px;
  overflow: hidden;
  background: transparent url(../assets/buscar.png) no-repeat;
  background-size: contain;
  display: inline-block;
}

/* internas */
.wrapper_int
{
  overflow: overlay;
  max-width: 1920px;
  width: 100%;
  height: auto;
  display: block;
  background: url(../assets/fondo_int.png) no-repeat center;
  background-size: cover;
  z-index: 0;
  position: relative;
  padding: 100px 100px;
  top: -125px;
  margin-bottom: -125px;
}
.wrapper_int.premios
{
  max-width: 1920px;
  width: 100%;
  height: auto;
  display: block;
  background: url(../assets/fondo_premios.png) no-repeat center bottom;
  background-size: cover;
  z-index: 0;
  position: relative;
  padding: 100px 0 100px;
}

/*premios*/
.titulos-premios h1{width: 100%;text-align: center;font-size: 34px;line-height: 22px;font-family: 'prelow01-mediumregular';margin-top: 0px;font-weight: bold;}
.titulos-premios h2{
  width: 80%;
  margin: 30px 10%;
  text-align: center;
  font-size: 23px;
  line-height: 22px;
  font-family: 'prelow01-mediumregular';
}
.titulo_premios1, .titulo_premios2 {
  margin: 5%;
  width: 90%;
  position: relative;
  text-align: center;
  float: left;
  font-family: 'prelow01-mediumregular';
}

.titulo_premios1 img, .titulo_premios2 img {
  width: 100%;
  height: auto;
  max-width: 320px;
}

.titulo_premios1 .texto, .titulo_premios2 .texto {
  font-size: 16px;
  line-height: 18px;
  padding: 21px;
  border-radius: 20px;
  background-color: #009e98;
  box-shadow: 0 0 0px 12px #009e98, 0 0 16px 8px #000000;
  text-align: left;
  border: dashed 2px;
  padding-top: 60px;
  margin-top: -53px;
  min-height: 380px;
}
.titulo_premios1 p, .titulo_premios2 p {
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}

.titulo_premios1 h3, .titulo_premios2 h3{
  color:#ffbc00;
  margin:30px 0px;
  font-size:20px;
}
.titulo_premios1 ul, .titulo_premios2 ul{
  list-style: disc;
  padding-left: 18px;
  font-size: 14px;
}
.titulo_premios1 li, .titulo_premios2 li{
  
}
.tyc{
    position: absolute;
    margin-top: -34px;
    margin-left: 30px;
    color: #3e3e3e;
    font-size: 13px;
}
@media (min-width: 768px) 
{
  .titulo_premios1, .titulo_premios2 {
    margin: 5%;
    width: 40%;
    transition: all 0.4s ease-in-out;
  }
  .titulo_premios1:hover, .titulo_premios2:hover {
    transform:scale(1.1);
  }
}



/* video compartir */
.wrapper_int .box_compartir
{
  max-width: 1024px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.wrapper_int .box_compartir .titulo_compartir
{
  max-width: 1222px;
  width: 100%;
  height: 353px;
  display: block;
  background: url(../assets/compartir_header.png) no-repeat center;
  background-size: 80%;
  z-index: 0;
  position: relative;
  margin: 6% -7% 0;
}
.wrapper_int .box_compartir .titulo_compartir p
{
  position: absolute;
  top: 160px;
  right: 110px;
  width: 48%;
  font-size: 16px;
  line-height: 26px;
  font-family: 'prelow01-mediumregular';
}
.wrapper_int .box_compartir .box_video
{
  max-width: 680px;
  width: 100%;
  height: auto;
  margin: -5% auto 0;
  display: block;
  background: #fff;
  border: #fff;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: -5px 6px 20px -4px rgb(90, 90, 90);
  -moz-box-shadow: -5px 6px 20px -4px rgb(90, 90, 90);
  box-shadow: -5px 6px 20px -4px rgb(90, 90, 90);
}
.wrapper_int .box_compartir .controls_video_compartir
{
  max-width: 680px;
  width: 100%;
  height: 90px;
  display: block;
  background: rgb(49,49,49); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(49,49,49,1) 0%, rgba(25,25,25,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(49,49,49,1) 0%,rgba(25,25,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(49,49,49,1) 0%,rgba(25,25,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
  background-size: contain;
  z-index: 0;
  position: relative;
  margin: 10px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wrapper_int .box_compartir .controls_video_compartir .play,
.wrapper_int .box_compartir .controls_video_compartir .repeat
{
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 25px;
  background: url(../assets/play.png) no-repeat center;
  background-size: contain;
  cursor: pointer;
}
.wrapper_int .box_compartir .controls_video_compartir .stop
{
  width: 40px;
  height: 40px;
  position: relative;
  display: none;
  margin: 0 auto;
  top: 25px;
  background: url(../assets/stop.png) no-repeat center;
  background-size: contain;
  cursor: pointer;
}
.wrapper_int .box_compartir .box_social_compartir
{
  max-width: 680px;
  width: 100%;
  height: 90px;
  display: block;
  z-index: 0;
  position: relative;
  margin: 10px auto;
}
.wrapper_int .box_compartir .compartir_facebook_video
{
  width: 364px;
  height: 160px;
  float: left;
  margin: -32px 0 0 -51px;
  background: url(../assets/compartir_en_redes.png) no-repeat center;
}
.wrapper_int .box_compartir .inicia_el_reto
{
  width: 374px;
  height: 160px;
  float: right;
  margin: -32px 0 0 -51px;
  background: url(../assets/inicia_el_reto.png) no-repeat center;
}
.shadow_compartir
{
  max-width: 807px;
  height: 102px;
  margin: -30px auto 0;
  display: block;
  background: url(../assets/shadow.png) no-repeat center;
}
/* instrucciones */
.wrapper_int .box_instrucciones
{
  max-width: 1024px;
  width: 100%;
  height: auto;
  margin: 30px auto 100px;
  position: relative;
  overflow: hidden;
}
.wrapper_int .box_instrucciones .titulo_instrucciones
{
  max-width: 1222px;
  width: 100%;
  height: 400px;
  display: block;
  background: url(../assets/instrucciones_header.png) no-repeat center;
  background-size: 80%;
  z-index: 0;
  position: relative;
  margin: -50px -59px -50px;
}
.wrapper_int .box_instrucciones .titulo_instrucciones p
{
  position: absolute;
  top: 191px;
  right: 0px;
  width: 600px;
  font-size: 16.5px;
  line-height: 26px;
  font-family: 'prelow01-mediumregular';
}
.wrapper_int .box_instrucciones .box_pasos_instrucciones
{
  width: 100%;
  height: auto;
  margin: 10px auto;
}
.wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos
{
  width: 21%;
  height: auto;
  float: left;
  margin: 0 5% 0 0;
  display: block;
}
.wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos:last-child
{
  margin: 0;
}
.wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos img
{
  width: 70%;
  height: auto;
  margin: 0 0 50px;
}
.wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos span
{
  width: 100%;
  display: block;
  color: #f0ff00;
  font-size: 20px;
  line-height: 100%;
  font-family: 'prelow01-mediumregular';
  padding: 0 0 20px 0;
}
.wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos p
{
  width: 93%;
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-family: 'prelow01-mediumregular';
}
/* premios */
.wrapper_int .box_premios
{
  max-width: 1024px;
  width: 100%;
  height: auto;
  margin: 0px auto 0;
}
.wrapper_int .box_premios .titulo_premios
{
  max-width: 1162px;
  width: 100%;
  height: 368px;
  display: block;
  background: url(../assets/premio_header.png) no-repeat center;
  background-size: 80%;
  z-index: 0;
  position: relative;
  margin: 0 0px;
}
.wrapper_int .box_premios .titulo_premios p
{
  position: absolute;
  top: 120px;
  right: 125px;
  width: 45%;
  font-size: 16px;
  line-height: 23px;
  font-family: 'prelow01-mediumregular';
}
.wrapper_int .box_premios .titulo_premios p span
{
  color: #000;
}

.wrapper_int .box_premios .titulo_premios_2
{
  max-width: 1000px;
  width: 100%;
  height: 230px;
  display: block;
  background: url(../assets/premio_header_2.png) no-repeat center;
  background-size: 80%;
  z-index: 0;
  position: relative;
  margin: 0 0px;
  clear: both;
}
.wrapper_int .box_premios .titulo_premios_2 p
{
  position: absolute;
  top: 88px;
  left: 150px;
  width: 50%;
  font-size: 19px;
  line-height: 26px;
  font-family: 'prelow01-mediumregular';
  color: #000;
}
.wrapper_int .box_premios .inicia_el_reto
{
  width: 374px;
  height: 160px;
  position: relative;
  display: block;
  margin: 0 auto;
  background: url(../assets/inicia_el_reto.png) no-repeat center;
}
.wrapper_int .box_premios .terminos_condiciones_premios
{
  width: 208px;
  height: 35px;
  position: relative;
  font-family: 'prelow01-mediumregular';
  display: block;
  margin: 0 auto;
  background: #620808;
  border: 3px solid #fff;
  text-align: center;
  line-height: 29px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  left: 70px;
  top: -30px;
  z-index: 10;
}

/* formulario */
.wrapper_int .box_formulario
{
  max-width: 945px;
  width: 100%;
  height: auto;
  margin: -60px auto;
}
.wrapper_int .box_formulario .titulo_formulario
{
  max-width: 1222px;
  width: 100%;
  height: 453px;
  display: block;
  background: url(../assets/formulario_header.png) no-repeat center;
  background-size: 90%;
  z-index: 0;
  position: relative;
  margin: 0 -59px;
}
.wrapper_int .box_formulario .titulo_formulario p
{
  position: absolute;
  top: 210px;
  right: 100px;
  width: 47%;
  font-size: 16px;
  line-height: 26px;
  font-family: 'prelow01-mediumregular';
}
.wrapper_int .box_formulario .box_video_formulario
{
  max-width: 600px;
  width: 100%;
  float: right;
  height: 405px;
  margin: -11% 30px 0 0;
  display: block;
  background: #fff;
  border: #fff;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: -5px 6px 20px -4px rgb(90, 90, 90);
  -moz-box-shadow: -5px 6px 20px -4px rgb(90, 90, 90);
  box-shadow: -5px 6px 20px -4px rgb(90, 90, 90);
}
.wrapper_int .box_formulario .controls_video_compartir
{
  max-width: 600px;
  width: 100%;
  height: 77px;
  float: right;
  display: block;
  background: rgb(49,49,49); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(49,49,49,1) 0%, rgba(25,25,25,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(49,49,49,1) 0%,rgba(25,25,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(49,49,49,1) 0%,rgba(25,25,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
  background-size: contain;
  z-index: 0;
  position: relative;
  margin: 10px 30px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wrapper_int .box_formulario .controls_video_compartir .play,
.wrapper_int .box_formulario .controls_video_compartir .repeat
{
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 10px;
  background: url(../assets/play.png) no-repeat center;
  cursor: pointer;
}
.wrapper_int .box_formulario .controls_video_compartir .stop
{
  width: 50px;
  height: 50px;
  position: relative;
  display: block;
  margin: 0 auto;
  top: 10px;
  background: url(../assets/stop.png) no-repeat center;
  cursor: pointer;
  display:none;
}

.wrapper_int .box_formulario .shadow_compartir
{
  max-width: 607px;
  width: 100%;
  height: 102px;
  float: right;
  margin: -30px 30px 0 0;
  display: block;
  background: url(../assets/shadow.png) no-repeat center;
  background-size: 101%;
}
.wrapper_int .volver
{
  width: 172px;
  height: 73px;
  float: right;
  margin: -30px 24% 0 0;
  display: block;
  background: url(../assets/volver.png) no-repeat center;
  background-size: 85%;
}

.wrapper_int .publish_preview{
  display:block;
  background-color:orange;
  width:200px;
  text-align: center;
  padding:1em;
  text-transform:uppercase;
  color:#fff;
  text-decoration:none;
  border-radius:.5em;
  box-shadow:0 0 10px #333;
  font-size:2em;
  font-weight:bold;

}

.formulario
{
  float: left;
  width: 280px;
  height: auto;
  vertical-align: top;
  position: relative;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.73);
  padding: 20px 10px;
  margin: -11% 0 0 0;
  font-family: 'prelow01-mediumregular';
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.formulario input
{
  height: 40px;
  width: 95%;
  display: block;
  background: #c7c7c7;
  padding: 0 4%;
  margin: 0 auto 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  -webkit-box-shadow: inset -8px 8px 8px -4px rgba(0,0,0,0.27);
  -moz-box-shadow: inset -8px 8px 8px -4px rgba(0,0,0,0.27);
  box-shadow: inset -8px 8px 8px -4px rgba(0,0,0,0.27);
}
.formulario input.succed{
  border:1px solid green;
  background-color:#b2f49b;
  color:green;
}

 /* WebKit browsers */
.formulario input::-webkit-input-placeholder {
  color: #fff !important;
}

/* Mozilla Firefox 4 to 18 */
.formulario input:-moz-placeholder {
  color: #fff !important;
}

/* Mozilla Firefox 19+ */
.formulario input::-moz-placeholder {
  color: #fff !important;
}

/* Internet Explorer 10+ */
.formulario input:-ms-input-placeholder {
   color: #fff !important;
}
.formulario .box_captcha
{
  height: 77px;
  width: 95%;
  display: block;
  background: #fff;
  margin: 1px -16px 10px;
  transform: scale(0.85);
}
.formulario .generar_url
{
  height: 40px;
  width: 95%;
  display: block;
  background: #c95513;
  padding: 0 4%;
  margin: 0 auto 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.formulario .enviar_compartir
{
  width: 320px;
  height: 160px;
  float: left;
  font-size: 0;
  margin: -4px 0 -20px -53px;
  background: url(../assets/compartir_en_redes.png) no-repeat center;
  background-size: contain;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* JS validations */

/* ------------------------ Active form --------------------------- */
.wrapper_int
{
  display:none;
}
.wrapper_int > div
{
  display:none;
}

body.active_form .wrapper_int,
body.active_preview .wrapper_int {
  display:block;
}

body.active_preview .wrapper_int .box_preview,
body.active_form .wrapper_int .box_formulario {
  display:block;
}

/* hide record button */
body.active_form  .boton.grabar {
  display:none;
}
/*single page*/
.single .wrapper_int .box_compartir{
  display: block;
}
.single .wrapper_int {
  display: block;
}

/*box preview*/

.box_preview .box_social_compartir{
  text-align:center
}

.box_preview .box_social_compartir > a{
  position:relative;
  margin:0 0 0 0 !important;
  float:none;
  vertical-align:middle;
  left:auto !important;
  display:inline-block!important;
}

/*hide record button*/
body.active_form  .boton.grabar
{
  display:none;
}

/*loading gifs for form*/

#controls.loading{
  position:relative;
}

#controls.loading::after{
  content:"";
  display:block;
  width:50px;
  height:50px;
  background-image:url('../img/loading.svg');
  position:absolute;
  z-index:6;
  top:20%;
  left:50%;
  margin-left:-25px;
}

/*page internal validations*/
.page-template .widget .wrapper_int{
display:block;
}

.page-template .wrapper_int{
  display:block;
}

.page-template .wrapper_int div{
  display:block;
}

/*loader form*/
.formulario
{
  position: relative;
}

.formulario .loader_form{
  display:none;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.7);
  z-index: 2;
}

.formulario .loader_form img{
  display: block;
  margin: 30% auto;
}
.formulario .loader_form p{
  color: black;
  position: absolute;
  left: calc(50% - 52px);
  width: 112px;
  font-size: 16px;
  text-align: center;
  top: 107px;
  line-height: 14px;

}
.formulario .loader_form span{
  color: black;
  position: absolute;
  left: calc(50% - 57px);
  font-size: 16px;
  top: 150px;
  width: 125px;
  text-align: center;
  
}
/*validation img*/
.wrapper_int .img-poster{
  display:block;
}

.wrapper_int .img-poster img{
  margin:15% auto 0;
  max-width:100%;
  display:block;
}
/*estilos de rating widget*/
.rw-ui-report .rw-ui-poweredby{
  display: none !important;
}
.box_compartir .box_estrellas {
  transform: scale(2.23);
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 70px;
  width: 98px;
}
.box_estrellas img {
  cursor: pointer;
  border: 0px;
  width: 23px;
  float: left;
}
.box_estrellas .texto_voto{
  line-height: 11px;
  padding-left: 28px;
  width: 130px;
  height: 20px;
}
.box_estrellas .ya_voto{
  font-size: 10px;
  width: 162px;
  position: absolute;
  margin-top: -25px;
  margin-left: 70px;
}
.box_compartir .box_estrellas .ya_voto {
  font-size: 6px;
  position: absolute;
  width: 110px;
  margin-top: 6px;
  margin-left: 0;
}

    