@charset "utf-8";
/* CSS Document */
@media (max-width: 1279px) 
{
    header nav ul
    {
        max-width: 1000px;
    }
    header nav ul li:nth-child(2) 
    {
        margin-left: 7.5%;
    } 
    .wrapper_int .box_instrucciones .box_pasos_instrucciones
    {
        margin: -70px auto 0;
        width: 85%;
    }
    .wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos img
    {
        margin: 0 0 40px;
    }
    .wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos span
    {
        font-size: 19px;   
    }
    .wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos p
    {
        font-size: 16px;
        line-height: 18px;
    }
    .wrapper_int .box_instrucciones .titulo_instrucciones p
    {
        top: 211px;
        width: 50%;
        right: 50px;
        top: 186px;
    }
    .wrapper_int .box_premios .titulo_premios p
    {
        font-size: 15px;
        line-height: 19px;
        top: 128px;
        width: 43%;
        right: 130px;
    }
    .wrapper_int .box_premios .titulo_premios_2
    {
        margin: -5% 0px 0;
    }
    .wrapper_int .box_formulario .box_video_formulario
    {
        max-width: initial;
        margin: -11% 0px 0 0;
        width: 64%;
    }
    .wrapper_int .box_formulario .controls_video_compartir
    {
        max-width: initial;
        margin: 10px 0 0;
        width: 64%;
    }
    .wrapper_int .box_formulario .shadow_compartir
    {
        max-width: initial;
        margin: -40px 0 0;
        width: 64%;
    }
    .wrapper_int .box_formulario .volver
    {
        margin: -30px 21% 0 0;
    }
    .wrapper_int .box_instrucciones .titulo_instrucciones
    {
    background-size: 100%;
    }


}

@media (max-width: 1023px) 
{
    header nav ul
    {
        max-width: 620px;
    }
    header nav ul li a
    {
        font-size: 16px;
    }
    header nav ul li:nth-child(2),
    header nav ul li:nth-child(4),
    header nav ul li:nth-child(5)
    {
        margin-left: 4%;
        margin-right: 0%;
    }
    header nav ul li:nth-child(3)
    {
        width: 250px;
    }
    header nav ul li:nth-child(3) a img
    {
        width: 70%;
    }
    .widget
    {
        top: -135px;
        margin-bottom: -135px;
    }
    .wrapper_int 
    {
        max-width: initial;
        width: 100%;
        padding: 20px 10px;
        top: -135px;
        margin-bottom: -135px;
    }
    .wrapper_int .box_instrucciones
    {
        display: block;
        max-width: initial;
        width: 768px;
    }
    .wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos
    {
        margin: 0 auto 0;
        width: 25%;
    }
    .wrapper_int .box_compartir .titulo_compartir,
    .wrapper_int .box_formulario .titulo_formulario
    {
        margin: 20% -6% 0;
        background-size: 100%;
    }
    .wrapper_int .box_compartir .titulo_compartir p
    {
        font-size: 14px;
        right: 90px;
    }
    .wrapper_int .box_formulario .titulo_formulario p
    {
        font-size: 14px;
        line-height: 16px;
        top: 220px;
        width: 50%;
        left: 310px;
    }
    .wrapper_int .box_premios .titulo_premios_2 p
    {
        font-size: 16px;
        line-height: 16px;
        top: 103px;
        left: 130px;
    }
    .wrapper_int .box_formulario .box_video_formulario,
    .wrapper_int .box_formulario .controls_video_compartir,
    .wrapper_int .box_formulario .shadow_compartir
    {
        width: 58%;
    }
    footer .terminos_y_condiciones
    {
        width: 200px;
    }

}

@media (max-width: 768px) 
{
    .wrapper 
    {
        zoom: 0.7;       
    }
}    

@media (max-width: 767px) 
{
    .menu_icon
    {
        display: block;
    }
    footer .terminos_y_condiciones a.logo_footer
    {margin: -20px auto;}
    
    .wrapper_int .box_formulario .titulo_formulario,
    .wrapper_int .box_premios .titulo_premios,
    .wrapper_int .box_premios .titulo_premios_2,
    .wrapper_int .box_instrucciones .titulo_instrucciones,
    .wrapper_int .box_compartir .titulo_compartir
    {
        background: url(../assets/mobile_formulario.png) no-repeat center;
        background-size: contain;
        margin: 200px auto 30px;
        width: 320px;
        height: 550px;
    }
    .wrapper_int .box_premios .titulo_premios
    {
        background: url(../assets/mobile_premio1.png) no-repeat center;
        background-size: contain;
        margin: 0px auto 0px;
    }
    .wrapper_int .box_premios .titulo_premios_2
    {
        background: url(../assets/mobile_premio2.png) no-repeat center;
        background-size: contain;
        margin: 0px auto 0px;
    }
    .wrapper_int .box_instrucciones .titulo_instrucciones
    {
        background: url(../assets/mobile_instrucciones.png) no-repeat center;
        background-size: contain;
        margin: 50px auto 50px;
    }
    .wrapper_int .box_compartir .titulo_compartir
    {
        background: url(../assets/mobile_compartir.png) no-repeat center;
        background-size: contain;
        margin: 201px auto 50px;
    }
    .wrapper_int .box_formulario .titulo_formulario p,
    .wrapper_int .box_premios .titulo_premios p,
    .wrapper_int .box_premios .titulo_premios_2 p,
    .wrapper_int .box_instrucciones .titulo_instrucciones p,
    .wrapper_int .box_compartir .titulo_compartir p
    {
        width: 70%;
        position: relative;
        text-align: center;
        right: 0;
        left: 0;
        font-size: 18px;
        margin: 0 auto;
        top: 250px;
    }
    .wrapper_int .box_formulario .titulo_formulario p
    {
        top: 270px;
        line-height: 24px;
    }
    .wrapper_int .box_premios .titulo_premios p
    {
        top: 229px;
        line-height: 23px;
    }
    .wrapper_int .box_compartir .titulo_compartir p,
    .wrapper_int .box_premios .titulo_premios_2 p
    {
        top: 270px;
        line-height: 26px;
    }
    .wrapper_int .box_instrucciones .titulo_instrucciones p
    {
        top: 280px;
    }


    header nav .social
    {
        position: absolute;
        right: 0;
        left: 0;
        margin: 200px auto 0;
    }
    .wrapper_int .box_compartir .box_social_compartir
    {
        text-align: center;
        display: block;
        overflow: hidden;
        height: auto;
    }
    .wrapper_int .box_compartir .compartir_facebook_video,
    .wrapper_int .box_compartir .inicia_el_reto
    {
        margin: 0px 0 0 -6%;
        display: inline-block;
        float: none;
        background-size: 300px;
        height: 100px;
    }
    header nav ul li:nth-child(2),
    header nav ul li:nth-child(4),
    header nav ul li:nth-child(5),
    header nav ul li:nth-child(1)
    {
        display: none;
    }
    .shadow_compartir
    {
        background-size:contain;
    }
    header nav ul li:nth-child(3) {
        margin: -69px auto 0;
        float: none;
        width: 240px;
        top: 0;
        overflow: hidden;
        display: block;
    }
    .wrapper_int .box_instrucciones
    {
        width: 100%;
    }
    .wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos
    {
        width: 100%;
        margin: 0 0 50px 0;
    }
    .wrapper_int .box_instrucciones .box_pasos_instrucciones .pasos img
    {
        width: 150px;
        display: block;
        margin: 0 auto;
    }
    .wrapper_int .box_premios .inicia_el_reto
    {
        left: -6%;
        width: 300px;
        background-size: contain;
    }
    .wrapper_int .box_premios .terminos_condiciones_premios
    {
        left: 0;
        top: 0;
    }
    .formulario
    {
        width: 100%;
        position: relative;
        float: none;
        overflow: hidden;
    }
    .formulario .enviar_compartir
    {
        margin: -4px auto -20px;
        float: none;
        left: -4%;
        position: relative;
    }
    .wrapper_int .box_formulario .box_video_formulario, 
    .wrapper_int .box_formulario .controls_video_compartir, 
    .wrapper_int .box_formulario .shadow_compartir
    {
        width: 100%;
        margin: 5% 0px 0 0;
        position: relative;
        float: none;
        overflow: hidden;
    }
    .wrapper_int .box_formulario .shadow_compartir
    {
        margin: -3% 0px 0 0;
    }
    .wrapper_int .box_formulario .volver
    {
        margin: -30px auto 70px;
        float: none;
    }
    .wrapper_int .box_formulario
    {
        overflow: hidden;
    }

    footer
    {
        padding-top: 40px;
        height: auto;
        overflow: hidden;
    }
    footer .terminos_y_condiciones span,
    footer .terminos_y_condiciones:nth-child(2) span
    {
        width: 100%;
        text-align: center;
        float: none;
    }
    footer .terminos_y_condiciones,
    footer .terminos_y_condiciones:nth-child(2)
    {
        width: 230px;
        margin: 10px auto 50px;
        display: block;
        height: 100%;
        text-align: center;
        display: block;
    } 
    footer .terminos_y_condiciones:nth-child(2)
    {
        overflow: hidden;
    }
    footer .terminos_y_condiciones a
    {
        font-size: 13px;
    }
    footer .terminos_y_condiciones a.facebook_footer,
    footer .terminos_y_condiciones a.youtube_footer
    {
        display: inline-block;
        float: none;
        width: 30px;
        height: 30px;
    }
    footer .terminos_y_condiciones a.logo_footer img
    {
        width: 100px;
    }
    footer .derechos_copy
    {
        height: 20px;
        font-size: 10px;
        line-height: 20px;
    }
    .select-style
    {
        width: 100px;
    }
    form.videos_form
    {
        width: 100%;
    }
    .instrucciones_widget
    {
        width: 300px;
        height: 300px;
        background-size: contain;
        left: -12%;
    }
    .widget .content_widget
    {
        height: auto;
        padding: 10px 0 0;
    }
    .wrapper
    {
        zoom: 0.4;
        margin: 500px 0 0;
    }
    .banner
    {
        width: 100%;
    }
    

    
}

@media (max-width: 414px) 
{
    .widget .content_videos .box_content_videos
    {
        margin: 0px auto 0;
    }
    .instrucciones_widget
    {
        width: 250px;
        height: 250px;
        background-size: contain;
        left: -10%;
    }
}

@media (max-width: 375px) 
{

}

@media (max-width: 320px) 
{
    .wrapper
    {
        zoom: 0.3;
        margin: 400px 0 0;
    }
    .select-style 
    {
        width: 80px;
    }
}











